@use '_variable.scss';
@use '_border.scss';
@use '_spacing.scss';

    
//the default button style 

    @mixin btn-basic($color: variable.$quartenary-color, $background-color: variable.$primary-color, $border-color:variable.$quinary-color, $hover-color: variable.$primary-color , $hover-background-color:  variable.$quartenary-color, $font-size: 18px, $padding: spacing.$padding-3 spacing.$padding-4) {
        border-radius: border.$border-radius-lg;
        padding: $padding;
        margin: spacing.$margin-3;
        color: $color;
        font-size: $font-size;
        font-weight: bold;
        margin: 5px;
        border: 2px solid $border-color;
        border-radius: border.$border-radius-xs;
        background-color: $background-color;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;
      
        &:hover {
          background-color: $hover-background-color;
          color: $hover-color;
        }
      }
      
      .btn-basic {
        @include btn-basic();
      }

      // Red button styles
    .btn-red {
      @include btn-basic(
        $color: variable.$quartenary-color,
        $background-color: variable.$red-button-color,
        $border-color: variable.$red-button-color, 
        $font-size: 20px
      );
      
      &:hover {
        background-color: variable.$red-button-hover-color;
      }
    }

    // Green button styles
    .btn-green {
      @include btn-basic(
        $color: variable.$heading-font-color, 
        $background-color: variable.$button-color, 
        $border-color: variable.$green-button-color, 
        $padding: 5px 10px
      );
      
      &:hover {
        background-color: variable.$green-button-hover-color; 
      }
    }
