@use '_fonts.scss';
@import '_variable';


// Link Mixins and Classes
@mixin link-basic-btn($color: $secondary-color, $background-color: $quartenary-color, $border-color: $secondary-color, $hover-color: $quinary-color, $hover-background-color: $color, $font-size: 18px, $padding: 10px 20px) {
  color: $color;
  text-decoration: none;
  font-size: $font-size;
  font-weight: fonts.$font-weight-bold;
  font-family: fonts.$font-primary;
  margin: 5px;
  border: 2px solid $border-color;
  border-radius: 5px;
  background-color: $background-color;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
}

a.link-basic {
  @include link-basic-btn();
}

a.link-red {
  @include link-basic-btn($color: $red-button-color, $border-color: $red-button-color, $font-size: fonts.$font-size-h4); // Using $font-size-h4 for 20px
}

a.link-green {
  @include link-basic-btn($color: $green-button-color, $border-color: $green-button-color, $padding: 5px 10px, $font-size: fonts.$font-size-base); // Using $font-size-base for consistency
}

// Default link
@mixin primary-link($color: $primary-color, $hover-color: $secondary-color, $font-size: 18px, $padding: 10px 20px) {
  color: $color;
  text-decoration: none;
  font-size: $font-size;
  font-weight: fonts.$font-weight-bold;
  font-family: fonts.$font-primary; 
  padding: $padding;
  margin: 5px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $hover-color;
    text-decoration: underline;
  }
  
  &:active{
    color: $quinary-color;
  }
}

a.primary-link {
  @include primary-link();
}
