// This files holds all the variable related to margin and padding


//spacing related variables
$spacing-0: 0;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 8px;
$spacing-4: 12px;
$spacing-5: 16px;
$spacing-6: 24px;
$spacing-7: 32px;

//margin related variables

$margin-0: $spacing-0;
$margin-1: $spacing-1;
$margin-2: $spacing-2;
$margin-3: $spacing-3;
$margin-4: $spacing-4;
$margin-5: $spacing-5; 
$margin-6: $spacing-6;
$margin-7: $spacing-7;

//padding variables
$padding-0: $spacing-0;
$padding-1: $spacing-1;
$padding-2: $spacing-2;
$padding-3: $spacing-3;
$padding-4: $spacing-4;
$padding-5: $spacing-5; 
$padding-6: $spacing-6;
$padding-7: $spacing-7;

//padding utility classes
.padding-0 {
    padding: $padding-0;
  }

.padding-1 {
    padding: $padding-1;
  }

.padding-2 {
    padding: $padding-2;
}
  .padding-3 {
    padding: $padding-3;
  }
  .padding-4 {
    padding: $padding-4;
  }
  .padding-5 {
    padding: $padding-5;
  }
  .padding-6 {
    padding: $padding-6;
  }
  .padding-7 {
    padding: $padding-7;
  }

//margin utility class
.margin-0 {
    margin: $margin-0;
}
.margin-1 {
    margin: $margin-1;
}
.margin-2 {
    margin: $margin-2;
}
.margin-3 {
    margin: $margin-3;
}
.margin-4 {
    margin: $margin-4;
}
.margin-5 {
    margin: $margin-5;
}
.margin-6 {
    margin: $margin-6;
}
.margin-7 {
    margin: $margin-7;
}