@use '_variable.scss';


@mixin table-base-styles {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid variable.$secondary-color;
  }

  tr:nth-child(even) {
    background-color: variable.$tertiary-color;
  }

  tr:nth-child(odd) {
    background-color: variable.$quartenary-color;
  }

  tr:hover {
    background-color: variable.$button-hover-color;
    color: variable.$quartenary-color;
  }
}

@mixin table-header-footer-styles($header-bg, $footer-bg, $text-color) {
  th {
    background-color: $header-bg;
    color: $text-color;
  }

  .table-header {
    background-color: $header-bg;
    color: $text-color;
  }

  .table-footer {
    background-color: $footer-bg;
    color: $text-color;
  }
}

// Table Styles
.table {
  @include table-base-styles;
  @include table-header-footer-styles(variable.$primary-color, variable.$secondary-color, variable.$quartenary-color);
}

.table-alt {
  @include table-base-styles;

  th {
    background-color: variable.$quinary-color;
    color: variable.$quartenary-color;
  }

  tr:nth-child(even) {
    background-color: variable.$secondary-color;
    color: variable.$quartenary-color;
  }

  tr:nth-child(odd) {
    background-color: variable.$quartenary-color;
    color: variable.$secondary-color;
  }

  tr:hover {
    background-color: variable.$green-button-hover-color;
    color: variable.$quartenary-color;
  }
}

.table-bordered {
  border: 2px solid variable.$secondary-color;
}
