// This class contains colours 
$primary-color: #DC0073;
$secondary-color: #000000;
$tertiary-color: #08BDBD;
$quartenary-color: #FFFFFF;
$quinary-color: #8600b3;
$heading-font-color: #000000;
$subheading-font-color: #DC0073;
$button-color: #08BDBD;
$button-hover-color: #078181;
$green-button-color: #28a745;
$green-button-hover-color: #218838;
$red-button-color: #dc3545;
$red-button-hover-color: #c82333;


